<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login to see some cute animals !</title>
    <style>
      body {
        background-color: rgb(161, 225, 245);
      }
      
    </style>
  </head>
  <body>
    
    <h1>Login to see some cute animals =) </h1>
    <form action="/login" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username"><br>
      <br>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password"><br>
      <br>
      <input type="submit" value="LogIn">
    </form>
  </body>
</html>
